@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: black;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  color: #ffff;
  /* position: relative; */
overflow-y: scroll;
}
.blur-slide-h{
  /* absolute top-0 right-0 bottom-0 left-0 z-[-50] */
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -50;
}

.blur_cont{
  overflow-x: hidden;
  width: 100%;
  position: relative;
  z-index: 4;
  height: 5571px;

}
.blur-01,
.blur-01 * {
  box-sizing: border-box;
}
.blur-01 {
  overflow: hidden;
  background: #002853;
  border-radius: 50%;
  width: 1013px;
  /* width: auto; */
  height: 1013px;
  position: relative;
  filter: blur(282px);
  /* translate: -336px -305px; */
  position: absolute;
  top: -305px;
  left: -336px;
}

.blur-02,
.blur-02 * {
  box-sizing: border-box;
}
.blur-02 {
  overflow: hidden;
  background: #07325f;
  border-radius: 50%;
  width: 777px;
  /* width: auto; */
  height: 777px;
  position: relative;
  filter: blur(282px);
  /* translate: 857px 1284px; */
  position: absolute;
  top:1284px ;
  /* left:857px ; */
  right: -180px;
}


.blur-03,
.blur-03 * {
  box-sizing: border-box;
}
.blur-03 {
  overflow: hidden;
  background: #072d56;
  border-radius: 50%;
width: 701px;
  /* width: auto; */
  height: 496px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  filter: blur(282px);
  position: absolute;
  top:500px ;
  /* left:1127px ; */
  right: -200px;
  /* translate:  ; */
}


.blur-04,
.blur-04 * {
  box-sizing: border-box;
}
.blur-04 {
  overflow-x: hidden;
  background: #07325f;
  border-radius: 50%;
  width: 777px;
  /* width: auto; */
  height: 777px;
  position: relative;
  filter: blur(282px);
  /* translate: -418px 2939px; */
  position: absolute;
  left: -318px;
  top: 2499px;
}

/* .blur-05,
.blur-05 * {
  box-sizing: border-box;
}
.blur-05 {
  background: #07325f;
  border-radius: 50%;
  width: 777px;
  height: 777px;
  position: relative;
  filter: blur(282px);
  translate: 1218px 500px;
} */
/* Figma Styles of your File */
/* :root { */
  /* Colors */
  /* --light-gradient: linear-gradient( */
    /* 157.81deg,
    rgba(222, 249, 250, 1) 0.8877529762685299%,
    rgba(190, 243, 245, 1) 17.229999601840973%,
    rgba(157, 237, 240, 1) 42.03999936580658%,
    rgba(125, 231, 235, 1) 55.11999726295471%,
    rgba(92, 225, 230, 1) 71.5399980545044%,
    rgba(51, 187, 207, 1) 100%
  ); */

  /* Fonts */
  /* Effects */
/* } */


/* ====================For Navigation bar */
.nav_link_text{
  padding: 4px 2px;
}

.blur_bg{
/* From https://css.glass */
background: rgba(59, 90, 110, 0.34);
border-radius: 4px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
border: 1px solid rgba(59, 90, 110, 0.44);
}



body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px blue; */
  background: none;

}
 
body::-webkit-scrollbar-thumb {
  border-radius: 22px;
  /* background-color: darkgrey;
   */
   background: rgb(2,0,36);
   background: -moz-linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(21,147,203,1) 0%, rgba(146,239,253,0) 100%);
   background: -webkit-linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(21,147,203,1) 0%, rgba(146,239,253,0) 100%);
   background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(21,147,203,1) 0%, rgba(146,239,253,0) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#92effd",GradientType=1);
   /* outline: 1px solid slategrey; */
}

/* .related_eve_card{

} */

.related_eve_card::-webkit-scrollbar {
  width: 1px;
}
 
.related_eve_card::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px blue; */
  background: none;

}
 
.related_eve_card::-webkit-scrollbar-thumb {
  border-radius: 22px;
  /* background-color: darkgrey;
   */
   background: rgb(2,0,36);
   background: -moz-linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(21,147,203,1) 0%, rgba(146,239,253,0) 100%);
   background: -webkit-linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(21,147,203,1) 0%, rgba(146,239,253,0) 100%);
   background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(21,147,203,1) 0%, rgba(146,239,253,0) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#92effd",GradientType=1);
   /* outline: 1px solid slategrey; */
}
.white_glass{
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(83, 160, 201, 0.2);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
border: 1px solid rgba(83, 160, 201, 0.3);
}

.heading-span {
  text-align: center;
  /* font-family: Manrope; */
  /* font-size: 62px; */
  font-style: normal;
  /* font-weight: 800; */
  line-height: 75px; /* 120.968% */
  letter-spacing: -2.48px;
  background: linear-gradient(90deg, #AE67FA 1.84%, #F49867 102.67%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.heading-span2 {
  background: var(--lightGradient, linear-gradient(158deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: Manrope; */
  /* font-size: 32px; */
  font-style: normal;
  /* font-weight: 800; */
  line-height: 75px;
  letter-spacing: -1.28px;
}

.black_glass{
  /* From https://css.glass */
background: rgba(2, 2, 2, 0.24);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.7px);
-webkit-backdrop-filter: blur(14.7px);
}