.cmte_box{
    /* width: 805px; */
height: 695px;

position: relative;
overflow-y: scroll;
overflow-x: hidden;
z-index: 1;

/* From https://css.glass */
background: rgba(4, 44, 84, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
border: 1px solid rgba(4, 44, 84, 0.36);
}

.event_card_box{
    /* height: 695px; */

position: relative;
/* overflow-y: scroll; */
overflow: hidden;
z-index: 1;

/* From https://css.glass */
background: rgba(4, 44, 84, 0.4);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
border: 1px solid rgba(4, 44, 84, 0.36);
}
.cmte_blur{
    width: 623px;
    height: 558px;
    /* flex-shrink: 0; */
    border-radius: 623px;
    background: #1B78DE;
    filter: blur(100px);
    position: absolute;
    top: -233px;
    right: -280px;
    z-index: -19;
opacity: 0.5;
    /* From https://css.glass */

    /* overflow: hidden; */
}

.cmte_blur2{
    width: 623px;
    height: 558px;
    /* flex-shrink: 0; */
    border-radius: 623px;
    background: #1B78DE;
    filter: blur(100px);
    position: absolute;
    top: -433px;
    right: -380px;
    z-index: -19;
opacity: 0.5;
    /* From https://css.glass */

    /* overflow: hidden; */
}
.light_blue_glass{
    background: rgba(27, 120, 222, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
}
.search_input{
    height: 40px;
    border-radius: 4px;
    color: #1B78DE;
    /* background: #2196F3; */
    /* From https://css.glass */
background: rgba(124, 157, 194, 0.26);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.8px);
-webkit-backdrop-filter: blur(5.8px);
border: 1px solid rgba(124, 157, 194, 0.51);
}
.search_btn{
    /* background-color: #1B78DE; */
    padding: 12px 8px;
    border-radius: 6px;
    /* font-weight: 400; */
    font-size: 13px;
    /* width: 100px; */

border:2px rgb(15, 150, 139) solid ;
border-radius: 8px;
padding: 9px;
color: rgb(15, 150, 139);
font-weight: 700;
box-sizing: border-box;
}
.search_btn:hover{
    background:  rgb(15, 150, 139) ;
    color: white;
}
.dropdown_btn{
    /* width: 250px; */
    height: 40px;
    border-radius: 5px;
/* From https://css.glass */
background: rgba(27, 120, 222, 0.32);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.8px);
-webkit-backdrop-filter: blur(5.8px);
border: 1px solid rgba(27, 120, 222, 0.51);
}

.cmte_search_link_txt{
    /* From https://css.glass */
/* From https://css.glass */
background: rgba(117, 170, 225, 0.26);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);

border-left: 1px #05376d solid;
/* border: 1px solid rgba(117, 170, 225, 0.51); */
}
.eve_container{
    position: relative;
    /* overflow-y: scroll; */
    
 
}

.cmte_box::-webkit-scrollbar {
    width: 0px;
  }
   
  .cmte_box::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px blue; */
    background: none;
  
  }
   
  .cmte_box::-webkit-scrollbar-thumb {
    border-radius: 225px;
    /* background-color: darkgrey;
     */
     background: rgb(2,0,36);
     background: -moz-linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(21,203,149,1) 0%, rgba(236,146,253,0) 100%);
     background: -webkit-linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(21,203,149,1) 0%, rgba(236,146,253,0) 100%);
     background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(21,203,149,1) 0%, rgba(236,146,253,0) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ec92fd",GradientType=1);
     /* outline: 1px solid slategrey; */
  }